@charset "UTF-8";

body{
    background-color: gainsboro;
    background: url("../imagens/fundo5.jpg") no-repeat;
}

#harleydavidson_text
{
    display: block;
    width: 62%;
    float: left;
    margin: 5px auto;
    padding: 0px 15px 0px 0px;
}

#harley_text
{
    display:block;
    width: 10em;
    float: left;
    margin: 5px auto;
    padding: 1px;
    
}

#harley_text01
{
    display:block;
    width: 62%;
    float: left;
    margin: 5px auto;
    padding: 0px 15px 0px 0px;
    
}


#harley_1
{
    /*display: block;*/
    width: 6em;
    float: left;
    padding: 1px;
    margin: 10px auto;
    margin-left: auto;
    
}

#harley_2
{
    /*display: block;*/
    width: 6em;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    margin: 160px auto;
}

h2{
    color: black;
    font-size: 1.8em;
    text-align: center;
    margin: 2px 0px;
}

h3{
    color: blue;
    font-size: 1.3em;
    text-align: center;
    margin: 2px 0px;
}

p{
    text-align: center;
    font-size: 1em;
    text-indent: 10px;/*paragrafo*/
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
