@charset "utf-8";




p{
    text-align: center;
    font-size: 1em;
    text-indent: 10px;/*paragrafo*/
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h2{
    text-align:center; /* centralizar o titulo*/
    color: black;
    font-size: 1em;
    margin: 3px;
}


span a{
    color: blue;
    text-decoration: none;
}

span a:hover{
    color: blue;
}